body
	background-color #f5f6fa
	font-size 14px;
	font-family 'Roboto', sans-serif;

h2,h3,h3,h4,ul,body,html
	padding 0px
	margin 0px

.mtop16
	margin-top 16px

.wrapper
	min-height 100vh
	overflow hidden
	.col1
		float left
		position relative
		z-index 999
		width 17%
	.col2
		float left
		width 83%

.sidebar
	background-color #fff
	min-height 100vh
	.section-top
		background-color #09041D
		box-shadow 0 0.5rem 1rem rgb(0, 0, 0, 0.15)
	.logo
		display block
		margin 0px auto
		padding-top 1px
		width 40%
	.user
		color #9CA1B4 !important
		padding 16px
		a
			font-size 1.2em
	.main
	display block
		margin-top 8px
		ul
			li
				margin-bottom 4px
				a

					color #9CA1B4 !important
					display block
					font-size 1.2em
					padding 12px 12px
					text-decoration none
					i
						margin-right 10px
					&:hover
						background-color #09041D
						box-shadow 0 0.5rem 1rem rgb(0, 0, 0, 0.15)
						color #fff !important
						text-decoration none

.navbar
	background-color #09041D
	a
		color #9CA1B4 !important

.page
	padding-top 16px
	padding-bottom 16px
	.breadcrumb
		.breadcrumb-item
			a
				text-decoration none
				color #09041D
				&:hover
					color #9CA1B4
					text-decoration none !important
	.panel
		background-color #fff
		border-radius 6px
		border-bottom 2px solid #9CA1B4 !important
		color #9CA1B4
		width 100%
		.header
			border-bottom 1px solid #e8e8e8
			h2.title
				display inline-block
				color #9CA1B4
				font-size 1.1em
				padding 12px 16px
		.inside
			padding 16px
			.nav
				.nav-link
					border-bottom 1px solid #9ca1b4
					margin-right 12px
					color #9CA1B4
					&:hover
						background-color #09041D
						color #fff

.opts
	a
		border-radius 4px
		border 1px solid #dedede
		display inline-block
		padding 8px 12px
		color #9CA1B4
		&:hover
			color #383D41
			text-decoration none !important






